.modal {
  z-index: 1;
  padding-top: 100px;
  display: none;
  position: fixed;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
  left: 0;
  top: 0;
  width: 100%;
}

.modal-content {
  width: 80%;
  margin: auto;
  display: block;
  max-width: 700px;
}

#caption {
  display: block;
  padding: 10px 0;
  height: 150px;
  text-align: center;
  color: #ccc;
  margin: auto;
  width: 80%;
  max-width: 700px;
}

.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@media only screen and (max-width: 700px) {
  .modal-content {
    width: 90%;
  }
}
